nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;  /* fully see-through */
  display: flex;
  align-items: center;
  justify-content: flex-start;     
  padding: 0 2rem;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  /* padding: 1rem 2rem; */
  gap: 2rem;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 1.8rem;
}

.nav-links a {
  position: relative;
  color: #676464;                
  font-size: 0.7rem;
  padding: 0.5rem 1.3rem;
  border-radius: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover,
.nav-links a.active {
  color: #d6bfc7; 
  text-decoration: underline;
  text-decoration-color: #e98bab;
  text-underline-offset: 10px
}
